@charset "EUC-KR";
.table-container {
	margin-top: 20px;
}

.table {
	width: 100%;
	margin-top: 25px;
}

#btn {
	margin-top:25px;
}

.search-container button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.search-container button:hover {
	background-color: #0056b3;
}

#boardTitle {
	height: 4rem;
	font-size: 1.7rem;
	margin-bottom:10px;
}

#summernote {
	margin-top:20px;
	height: 20rem;
	width:300px !important;
	font-size: 1.7rem;
	resize: none;
}


.form-control {
	width: 1070px;
}

#cancelBtn {
	margin-right: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.border-bottom {
	font-size: 2rem;
	margin-top: 5rem;
}

.form-label {
	font-size: 2rem;
	margin-top:15px;
}
#cate{
	height:3rem;
}

/* 문서 작성 form */
#text-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.note-editor {width: 1000px;}

/* 에디터 상단 버튼 */
.note-toolbar button {
    color: initial !important;
    background-color: #fff !important;
    border-color: #ddd !important;
}
.note-editable {height: 1275px !important;}

/* 파일 선택 */
.file-attach {
    display: flex;
    width: 1000px;
    margin-top: 20px;
}
.note-editable{
	
	width:800px !important;
	height:500px !important;
}