<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcp.crispy.franchise.mapper.FranchiseMapper">
    <insert id="insertFranchise" parameterType="FranchiseDto">
        <selectKey keyProperty="frnNo" resultType="int" order="BEFORE">
            SELECT SEQ_FRANCHISE_T.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO FRANCHISE_T (
        FRN_NO,
        FRN_NAME,
        FRN_OWNER,
        FRN_TEL,
        FRN_ZIP,
        FRN_STREET,
        FRN_DETAIL,
        FRN_IMG,
        FRN_JOIN_DT
        ) VALUES (
        #{frnNo},
        #{frnName},
        #{frnOwner},
        #{frnTel},
        #{frnZip},
        #{frnStreet},
        #{frnDetail},
        #{frnImg, jdbcType=VARCHAR},
        #{frnJoinDt}
        )
    </insert>
</mapper>
